{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/prashethaa.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">PRASHETHAA RAMKUMAR</div>
            <div class="designation">C.E.O PRASH CORP</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/nissetha.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">NISSETHA</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ananditha.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">ANANDITHA</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/kishan.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">KISHAN</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/ranjini.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">RANJINI</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/pooja.jpeg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">POOJA</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}