{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/DDR4 RAM.jpeg" alt="product image">
            </div>
            <div class="itemname">DDR4 RAM</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/TOSHIBA 1TB.jpeg" alt="product image">
            </div>
            <div class="itemname">TOSHIBA 1TB</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/graphics card.jpeg" alt="product image">
            </div>
            <div class="itemname">Graphics card</div>
            <div class="itemprice">Price: Rs.30000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/mouse.jpg" alt="product image">
            </div>
            <div class="itemname">Mouse</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/cabinet.jpeg" alt="product image">
            </div>
            <div class="itemname">Cabinet</div>
            <div class="itemprice">Price: Rs.25000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/RAM.jpg" alt="product image">
            </div>
            <div class="itemname">RAM</div>
            <div class="itemprice">Price: Rs.4000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/keyboard.jpg" alt="product image">
            </div>
            <div class="itemname">Keyboard</div>
            <div class="itemprice">Price: Rs.2500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/SATA SSD.jpg" alt="product image">
            </div>
            <div class="itemname">SATA SSD (samsung)</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/web cam.jpeg" alt="product image">
            </div>
            <div class="itemname">Web cam</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/motherboard.jpeg" alt="product image">
            </div>
            <div class="itemname">Motherboard</div>
            <div class="itemprice">Price: Rs.10000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/SATA HDD.jpg" alt="product image">
            </div>
            <div class="itemname">SATA HDD</div>
            <div class="itemprice">Price: Rs.5500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/RYZEN 7 3700X.jpg" alt="product image">
            </div>
            <div class="itemname">RYZEN 7 3700x processor</div>
            <div class="itemprice">Price: Rs.36000.00 </div>
        </div>
    </div>
</div>
{% endblock  %}